.mainLayout {
    min-height: 100vh !important;

    .header {
        background-color: transparent;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .contentLayout {
        padding: 20px 15px;

        .content {
            background-color: #fff;
            padding: 10px 15px;
        }
    }

    .footer {
        text-align: center;
    }
}
