.activeBtn {
    li:nth-child(2),
    li:nth-last-of-type(2) {
        display: none !important;
    }

    li:nth-last-of-type(3) {
        margin: 0;
    }
}

.list {
    .listItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .itemId {
            margin: 0;
            margin-right: 20px;
        }

        .listItemContent {
            display: flex;
            flex-direction: column;
        }
    }
}
